:root{
    --menu-speed: 0.75s;
}

html {
    height: 100%;
    width: 80%;
   /* font-family: circular std, sans-serif; */
    font-family: raleway , sans-serif;
}


body {
    /*
        no space between rows and browser window
     */
    margin: 0;
    width: 100vw;
    height: 100vh;

    /*
    This automatically changes the direct children of body to grid items.
    */
    display: grid;
    /*
        get the footer pushed down to the end of the page
        min-content: My first (aka header) row and last row (aka footer) will take up the minimum space they need.
        auto: My second row (aka main) will take up the remainder of the parent container’s height.
     */
    grid-template-rows: min-content auto min-content ;
    grid-template-columns: 100%;
    line-height: 1.5;

}


header ul {
    background-color: lightgray;
    display: grid;
    /*
        This creates 4 columns, each with a width of the minimum space they need.
     */
    grid-template-columns: repeat(4, min-content);
    /*
        space out the navigation items along the inline axis (row) of the grid container.
     */
    justify-content: space-evenly;
}

@media only screen and (max-width: 600px) {
    header ul {
        grid-template-columns: none;
    }
}

.grid-wrapper {
    /*changed the height from 100% to auto as the layout breaks when the height of the content 'overflows'*/
    height: auto;
    margin-top: 15vh;
    display: grid;
    grid-template-rows: min-content auto min-content;
}

main {
    display: grid;
    grid-template-rows: min-content min-content;
    justify-content: center;
    align-content: center;
}

.child-grid {
    display: grid;
    width: 60vw;
    /*border: 1px black solid;*/
    margin: 5px;
    padding: 10px;
    text-align: justify;
}

h1 {
    font-size: 40px;
    font-weight: 400;
    color: black;
}


p {
    color: #5D5D5D;
    font-weight: 100;
    font-size: 20px;
    margin-top: 25px;
}

.p-footer {
font-size: 15px;
    margin-top: 2px;
}

.violet {
    color: #6D55D6;
}


#img_programmer {
    width: 500px;
    height: 250px;
}

#img_profile {
    height: 250px;
    width: 257px;
}
.flex-wrapper{
    display: flex;
    margin: 0px;
  /* border-color: black;
    border-style: solid;
    border-width: 2px;*/
    align-items: center;
   justify-content: center;

}

/* https://www.w3schools.com/howto/howto_css_cards.asp*/
.card {
    /* Add shadows to create the "card" effect */
    height: 250px;
    flex-grow: 1;
    text-align: center;
    margin: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */

}

.card-header {
    margin-top: 0;
    height: 10%;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;

}


.flex-item {
    flex-grow: 1;
    margin: 0px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#flex-item-home {
    flex-grow: 1;
    margin: 0px;
    text-align: left;
    align-items: center;
    justify-content: center;
}

.flex-wrapper-left {
  display: flex;
    margin: 0px;
}


.flex-item-left {
    flex-grow: 1;
    margin: 0px;
    text-align: left;
}


ul {
    width: auto;
    list-style: none;
    color: #5D5D5D;
    font-weight: 100;
    font-size: 20px;
    /* margin-top: 8px;*/
    margin: 0;
    /* removes white space of list items to the left side */
    padding: 0;
}

li {
    display: inline-block;
    margin: 10px;
}


 li::before {content: "•"; color: #6D55D6; display: inline-block; width: 1em;
    margin-left: 1em}

span {
    font-weight: bold;
}

.link {
    color: #6D55D6;
    text-decoration: underline;
    text-decoration-color: #6D55D6;
}



footer {
    background-color: lightgray;
    padding: 10px;
    height: 150px;
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 8vh;

}

.footer-child-grid {
    /*border: 1px black solid;*/
}

.icon {
    height: 40px;
    width: 40px;
    padding:0 20px;

}

button{
    width: 200px;
    height: 50px;
    background-color: white;
    border-radius: 5px;
    border-color: #6D55D6;
    border-style: solid;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-top: 25px;
}


button:hover,
button:hover > .button-link{
    color: white;
    background-color: #6D55D6;
}


.button-link {
    width: 200px;
    height: 50px;
    text-decoration: none;
    color: #6D55D6;
    font-size: 20px;
}


.button-div{
    display: grid;
    grid-template-rows: min-content auto min-content;
    grid-template-columns: min-content min-content;
    align-items: center;
    justify-content: center;
}

#img_messaging {
    width: 265px;
    height: 200px;
}

#img_messaging_div {
    text-align: center;
    align-items: center;
    justify-content: center;
}


@media only screen and (max-width: 812px) {
    /*changes to code to arrange aside below article. */
    .grid-wrapper {
        display: flex;
        flex-direction: column;
    }

    footer {
        order: 2;
        display: flex;
        flex-direction: column;
    }

    .flex-wrapper {
        flex-direction: column;
    }


    #flex-item-home {
        text-align: center;
    }
}




