* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    /* no scroll on x-axis, for bigger images for example */
    overflow-x: hidden;
    box-sizing: border-box;
}

/* mobile styles */

section {
    margin-bottom: 100px;

}

.section-text {
    grid-column: 2/8;
    text-align: left;
}

/* fonts */
/* register own font */
@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Black.ttf');
}

/* text */
#contact-headline-underline {
    width: 86px;
}

h3 {

    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 40px;
    color: #8E74FF;
}

h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 40px;
    color: #8E74FF;
}

h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 40px;
    color: #8E74FF;
}

#home-p {
    margin-top: 16px;
}

p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #8F8F8F;
}

#projects-headline-underline {
    width: 90px;
}

.section-headline-div {
    height: 36px;
    grid-column: 2/5;
    overflow-y: hidden;
}

.section-headline-underline {
    position: relative;
    width: 105px;
    height: 6px;
    background: #9AEDD9;
    margin-top: -15px;
    z-index: -1;
}

.text-link {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.5;
    /* or 117% */
    letter-spacing: 0.02em;
    color: #8E74FF;
    transition: color 0.4s ease;
    position: relative;
}

.text-link::before {
    content: '';
    position: absolute;
    width: 100%;
    /* The scaleX() CSS function defines a transformation that resizes an element along the x-axis (horizontally). */
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #9AEDD9;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.text-link:hover:before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* buttons */

#contact-button {
    grid-row: 3;
    grid-column: 2/8;
}

.primary-button {
    background: #4CBFA4;
    border-radius: 50px;
    border: none;
    padding: 10px 15px;
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    margin-top: 25px;
    color: #FFFFFF;
    width: 140px;
    height: 40px;
}
.primary-button-centered {
    position: center;
}

.primary-button:hover {
    background: #FFFFFF;
    color: #4CBFA4;
    border: 2px solid #4CBFA4;

}

.primary-button-left {
    margin-left: 13vw;
}

#projects-button {
    width: 180px;
}


/* icons */

.icon {
    height: 32px;
    width: 32px;
    margin: 0 15px;
}

.social-icons {
    text-align: center;
    padding: 10px;
}

/* structure elements */

#contact-img {
    align-self: center;
    grid-column: 3/7;
}

footer {
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background: #fff;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.05);
    padding: 10px;
    text-align: center;
}

#home {
    margin-top: 20vh;
    min-height: 80vh;
}

#home-img-div {
    grid-row: 2;
    grid-column: 2/8;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.home-text {
    grid-column: 2/8;
    text-align:left;
}

#contact-img-div {
    grid-column: 2/8;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
    overflow-x: hidden;
}

.logo {
    grid-column: 2/6;
}

nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background: #fff;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.05);
    padding: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap; /* flex items will wrap onto multiple lines, from top to bottom.*/
    text-align: center;
    justify-content: center;
    padding: 12%;
}

.column {
    flex: 50%;
    max-width: 50%;
    padding: 5px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}


.project {
    height: 200px;
    background-color: grey;
    margin-bottom: 25px;
}


#message-button {
    grid-row: 2;
}
/* small tablet styles */
@media screen and (min-width: 620px) {
    #home-img-div {
        grid-column: 3/6;
        width: 450px;
        height: 292px;
    }

    section {
        margin-bottom: 10vh;
    }

    .primary-button-left {
        margin-left: 12vw;
    }


    #home-img {
        height: 250px;
        width: 386px;
    }

    #contact-img {
        text-align: center;
    }

    #instagram-sunset-img {
        height: 200px;^
         width: 200px;
        border-radius: 5%;
        grid-column: 2/4;
        margin: 25px auto;
    }

    #instagram-desk-img {
        height: 200px;
        width: 200px;
        grid-column: 5/8;
        border-radius: 5%;
        margin: 25px auto;


    }

    #instagram-flowers-laptop {
        height: 150px;
        width: 130px;
        grid-column: 2/4;
        border-radius: 5%;
        grid-row: 2;
        margin: 25px auto;


    }

    #instagram-setup {
        height: 150px;
        width: 130px;
        grid-column: 4/6;
        margin: 25px auto;

    }

    #instagram-smartphone-img {
        height: 150px;
        width: 130px;
        grid-column: 6/8;
        margin: 25px auto;
    }

    .section-headline-underline {
        width: 110px;
    }

    /* large tablets & laptop styles */
    @media screen and (min-width: 960px)  {

        h3 {
            font-size: 30px;
            margin-bottom: 15px;
        }

        h1 {
            font-size: 40px;
        }

        p, .text-link{
            font-size: 22px;
        }

        #home-img-div {
            grid-column: 3/5;
            margin: 10vh auto;
        }

        .section-headline-underline {
            position: relative;
            width: 105px;
            height: 6px;
            background: #9AEDD9;
            margin-top: -15px;
            z-index: -1;
            visibility:visible;

        }

    }


    /* desktop styles */
    @media screen and (min-width: 1200px) {
        .section-headline-underline {
            width: 135px;
        }

        #projects-headline-underline {
            width: 118px;
        }

        #contact-headline-underline {
            width: 112px;

        }

        .row {
            padding: 10% 12%;
        }

        img {
            margin-bottom: 20px;
        }

        .home-text {
            grid-column: 2/4;
            margin-top: 20vh;
        }

        #home-img-div {
            height: 150%;
            width: 150%;
            grid-column: 5/7;
            margin-top: -25vh;
        }

        #contact-img {
            align-self: center;
            grid-column: 5/8;
        }


        #setup-img {
            height: 500px;
            width: 500px;
        }

        #desk-img {
            height: 488px;
            width: 600px;
            margin-top: 100px;
        }

        #flowers-img {
            height: 624px;
            width: 500px;
        }

        #smartphone-img {
            height: 709px;
            width: 600px;
        }

        .section-text {
            grid-column: 2/6;
        }
    }


}